{{> head }}
{{> navbar}}
<div class="row">
  <div class="col-8">
    <h1>Programer</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit dolor, cupiditate, rem ut dignissimos enim culpa architecto hic dolorem fugit aspernatur esse quia harum optio accusantium tempore excepturi voluptas corporis.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/coding.jpg" alt="" class="img-thumbnail">
  </div>
</div>
{{> footer}}